[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
pandas = "*"
tensorflow-gpu = "*"
scikit-learn = "*"
pillow = "*"
mglearn = "*"
pydotplus = "*"
graphviz = "*"
ja-ginza-nopn = {file = "https://github.com/megagonlabs/ginza/releases/download/v1.0.2/ja_ginza_nopn-1.0.2.tgz"}

[dev-packages]

[pipenv]
