[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
pandas = "*"
tensorflow-gpu = "*"

[dev-packages]

[pipenv]
